:root {
  // Colors
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #f1f1f1;
  --black-color: #1e1f2a;
  --sidebar-color: #fafafa;
  --text-color: #111111;
  --buttonbgcolor: #2b1309;
  --darkbtn: #131313;
  // Font Sizes
  --ten: 10px;
  --eleven: 11px;
  --twelve: 12px;
  --thirteen: 13px;
  --fourteen: 14px;
  --sixteen: 16px;
  --twenty: 20px;
  // Font Weights
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  // Borders
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 10px;
  --border-width: 1px;
  --border-color: --dark-color;
  --border-style: solid;

  // Box Shadows
  --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-xl: 0 8px 16px rgba(0, 0, 0, 0.2);

  // Z-index levels
  --z-index-low: 10;
  --z-index-medium: 100;
  --z-index-high: 1000;
  // Transition
  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.4s ease-in-out;
  --transition-slow: 0.6s ease-in-out;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(216, 216, 216);
  border-radius: var(--border-radius-lg);
  margin-top: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: var(--border-radius-lg);
}

.ri-arrow-left-line {
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black-color);
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}
.buttoncomp {
  background-color: var(--darkbtn);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  font-size: var(--eleven);
  padding: 6px 3px 6px 3px;
  height: 32px;
  width: 90px;
}
.btn-outline-primary {
  width: 93px;
  height: 32px;
  transition: all 0.5s;
  border-radius: 4px;
  color: var(--danger-color) !important;
  background-color: var(--white-color);
  font-size: var(--twelve);
  font-weight: var(--font-weight-medium);
  margin-bottom: 4px;
  text-align: left;
  border: 1px solid var(--danger-color) !important;

  padding: 3px 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.font-12 {
  font-size: var(--twelve);
}
.font-13 {
  font-size: var(--thirteen);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
}
.font-14 {
  font-size: var(--fourteen);
}
.font-16 {
  font-size: var(--sixteen);
}
.font-20 {
  font-size: var(--twenty);
}
.font-10 {
  font-size: var(--ten);
}
.font-11 {
  font-size: var(--eleven);
  font-weight: 400;
}

.colorappiled {
  color: #9f9494;
}
.process-date {
  position: relative;
  padding-left: 5px;
  font-size: (var(--eleven));
}
.close-icon {
  position: absolute;
  top: -3px;
  right: 0px;
}
.cancelfilter {
  width: 150px;
  height: 34px;
  border-radius: 6px;
  background-color: #f1f1f1;
  color: #111111;
  padding: 8px 20px;
}

.applyfilter {
  width: 150px;
  height: 34px;
  border-radius: 6px;
  /* background-color: #f1f1f1; */
  /* color: #111111; */
  padding: 8px 20px;
}
.buttoncomp:hover {
  background-color: #343a40;
  color: #ffffff;
  // box-shadow: 0px 1px 10px 2px rgba(136, 135, 135);
  // transform: translateY(1px) scale(1.01);
  transition: all 0.3s ease;
}

.filterbtn {
  border: 1px solid #cccccc;
  font-size: 16px;
  border-radius: 4px;
  color: #999999;
  padding: 8px;
  width: 100%;
}
.btn-dark:hover {
  background-color: #343a40;
  color: #ffffff;
  // box-shadow: 0px 1px 10px 3px rgba(136, 135, 135);
  // transform: translateY(1px) scale(1.01);
  transition: all 0.3s ease;
}
.approvermodalbody {
  height: 70vh;
  overflow: scroll;
}
