.dashedcircle{border:1px dashed #AAAAAA;height:30px;width:30px;padding:0;margin:0;border-radius:50%;color:#14d82b}.dashed_line{height:100px;border:1px dashed #AAAAAA;width:1px;position:absolute;left:2%}
