.dashboard-container[data-v-f8779fef]{width:100%;height:100%}.dashboard-div[data-v-f8779fef]{height:83vh}.export-btn[data-v-f8779fef]{padding:5px 10px!important;border:none;border-radius:4px;font-size:var(--eleven)}
